div{
	display: inline-block;
	text-align: center;
	margin: .5rem 0rem;
		}
img{
	height: 70vh;
	margin: 0em .5em;
		}
body{
	font-family: arial, sans-serif;
	text-align: center;
		}
h1{
	margin-bottom: 0;
		}
h2{
	font-weight: normal;
	margin-top: 0;
		}